$background: #343434;
$foreground: rgb(230, 230, 230);
$border-color: #FFC371;
$fullcharge-color: rgb(25, 230, 25);
$charging-color: rgb(230, 230, 25);
$arch-color: rgb(100, 205, 255);
$red-color: rgb(250, 75, 75);

* {
    font-size: 16px;
    font-family: "JetBrainsMono Nerd Font";
}

.playerWindow,
.dateWindow {
  background-color: $background;
  border: solid;
  border-width: 3px;
  border-color: $border-color;
  border-radius: 12px;
}

.powerWindow, 
.powerWidgets,
.powerReveal,
.playerWidgets,
.widgetList {
  background-color: transparent;
  border: none;
}
.musicImage,
.playerControls,
.date {
  padding: 10px;
}

.bar,
.calendar {
  background-color: transparent;
  border: none;
}

.powerRevealButton,
.workspaces,
.clock,
.changeTheme,
.tray,
.volume,
.battery,
.appmenuEventbox{
  background-color: $background;
  padding: 3px 10px;
  border-radius: 12px;
}

.appmenu {
  background-color: $background;
  border-radius: 12px;
}

.appmenuLabel {
  color: $arch-color;
  padding: 3px 14px 3px 12px;
}

.clockLabel,
.powerRevealLabel,
.batteryLabel,
.volumeLabel {
  padding: 3px 10px;
}
.workspaces {
  padding: 1px 10px;
}


.powerRevealLabel {
  color: $red-color;
}

.appmenuEventbox:hover .appmenuLabel{
  background-color: $arch-color;
  opacity: 0.8;
  border-radius: 12px;
  color: $background;
}

.logout,
.activewslbl {
  color: $arch-color;
}

.ws {
  background: transparent;
  border: none;
  padding-left: 12px;
  padding-right: 12px;
}

.ws:hover {
  background-color: $arch-color;
  opacity: 0.8;
}

.ws:hover .wslbl {
  color: $background;
}

.playerInfoLabel,
.changeThemeLabel {
  padding: 3px 15px;
}

.playerScroll{
  padding: 10px 30px 10px 30px;
}

.playerButton {
  background: transparent;
  border: solid 2px;
  border-color: $charging-color;
  border-radius: 50px;
}
.playerButton:hover {
  background-color: $charging-color;
}
.playerButton:hover .playerButtonLabel {
  color:  $background;
}
.playerButtonLabel {
  color: $charging-color;
}

.scroller slider {
  all: unset;
  color: $arch-color;
}

.scroller scale trough highlight {
  all: unset;
  background-color: $arch-color;
  color: #000000;
  border-radius: 10px;
}

.scroller scale trough {
  all: unset;
  background-color: gray;
  border-radius: 50px;
  min-height: 8px;
}

.changeTheme:hover .changeThemeLabel{
  background-color: $arch-color;
  opacity: 0.8;
  border-radius: 12px;
  color: $background;
}

.batcharging {
  color: $charging-color;
}
.restart,
.batfull {
  color: $fullcharge-color;
}

.powerButton {
  background-color: $background;
  border-radius: 30px;
  border: $foreground solid 1px;
}

.powerButtonLabel {
  font-size: 30px;
}

.powerButton:hover .powerButtonLabel{
  font-size: 50px;
  padding: 25px;
}

.shutdown {
  color: $red-color;
}

.sleep {
  color: purple;
}

